@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

$background: hsl(223deg 14% 10%);

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  background-color: $background;
  font-family: 'Overlock', sans-serif;
  font-size: larger;
  place-items: stretch;
}

svg {
  defs .mark {
    shape-rendering: geometricPrecision;
    stroke: white;
    stroke-dasharray: none;
    stroke-width: 1.5;
  }

  #hovered-background {
    fill: $background;
    filter: blur(5px);
    stroke: none;
  }

  text {
    fill: ghostwhite;
    letter-spacing: 0.1em;
    pointer-events: none;
    text-anchor: middle;
  }

  .hovered:not(.point) {
    stroke: crimson;
    stroke-width: 2;
  }

  .parent {
    stroke: chocolate !important;
    stroke-width: 2;
  }

  path {
    fill: none;
    stroke: #555;
    stroke-dasharray: 10 3;
    
    &.vertex, &.point {
      stroke: white;
      stroke-dasharray: none;
    }

    &.vertex {
      stroke-width: 2;
    }

    &.side {
      stroke: ghostwhite;
      stroke-dasharray: none;
      stroke-width: 2;
    }

    &.angle {
      stroke: lightgrey;
      stroke-dasharray: none;
    }
  }

  .hovering path:not(.parent, .hovered, .side, .vertex) {
    stroke: #383838;
  }
}
