$bg: hsl(223deg 14% 10%);
$accent: darkslategrey;

html,
body {
  height: 100%;
  margin: 0;
  color: ghostwhite;
}

body {
  display: grid;
  background-color: $bg;
  place-items: stretch;
}

svg {
  path {
    fill: none;
  }

  circle.vertex {
    fill: $accent;
    stroke: lighten($accent, 15%);
    stroke-width: 4px;

    &:active {
      stroke: ghostwhite;
    }
  }

  g.sides {
    stroke: orange;
    stroke-dasharray: none;
    stroke-width: 1.5;
  }

  g.circum {
    stroke: grey;
    stroke-dasharray: 10 3;
  }

  g.in {
    stroke: lightgrey;
    stroke-dasharray: 10 3;
  }
}
