html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  background-color: hsl(223deg 14% 10%);
  font-family: sans-serif;
  place-items: stretch;
}

svg {
  text {
    fill: ghostwhite;
    letter-spacing: 0.1em;
    pointer-events: none;
    text-anchor: middle;
  }

  .hovered {
    stroke: crimson !important;
    stroke-width: 2;
  }

  path {
    fill: none;
    stroke: #555;
    stroke-dasharray: 10 3;

    &.vertex {
      cursor: move;
      fill: white;
      mix-blend-mode: overlay;
    }

    &.side {
      stroke: orange;
      stroke-dasharray: none;
      stroke-width: 2;
    }

    &.angle {
      stroke: lightgrey;
      stroke-dasharray: none;
    }
  }
}
