@import "../colours";

:host {
  display: grid;
  border-top: 1px solid #444;
  backdrop-filter: blur(2px);
  background-image: radial-gradient(farthest-side at top, rgb(128 128 128 / 15%), rgb(128 128 128 / 0%));
  place-items: stretch;
  pointer-events: none;
}

path {
  fill: none;
  stroke: #888;
  stroke-width: 1.5;
}

.ticks path,
.arcs-inner path {
  stroke: ghostwhite;
}

text {
  alignment-baseline: after-edge;
  fill: ghostwhite;
  text-anchor: middle;

  &.title {
    alignment-baseline: hanging;

    &.sub {
      fill: #888;
      font-size: 16px;
    }
  }

  @at-root .arcs-values & {
    alignment-baseline: middle;
    font-size: 12px;
    letter-spacing: 0;
    paint-order: stroke fill;
    stroke: $background;
    stroke-width: 4px;
    text-anchor: middle;
  }
}
